db2te/XSD/IBM/DB2AutoReorgPolicy.xsd

<xsd:schema  
xmlns="http://www.ibm.com/xmlns/prod/db2/autonomic/config"  
targetNamespace="http://www.ibm.com/xmlns/prod/db2/autonomic/config" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema"   
elementFormDefault="qualified">


<xsd:annotation>

    <xsd:documentation>

    IBM Corporation  version 1.0
     
     DO NOT EDIT THIS FILE.

    </xsd:documentation>

</xsd:annotation>


<xsd:element name="DB2AutoReorgPolicy" 
             type="reorgpolicytype"/>


<xsd:annotation>

    <xsd:documentation>

    Schema file for db2 Table Reorg Policy
    The data defragmentation maintenance activity automatically reorganizes the data in tables and indexes in your database to optimize storage. This schema is used for validation of the xml file having these settings.

    </xsd:documentation>

</xsd:annotation>


<xsd:complexType name="reorgpolicytype">

    <xsd:sequence>

       <xsd:element name="ReorgOptions" 
                    type="reorgoptiontype"/>

       <xsd:element name="ReorgTableScope" 
                    type="reorgtablescopetype" />    

    </xsd:sequence>

</xsd:complexType>


<xsd:annotation>

    <xsd:documentation>

    Reorganization options are

    1.Valid options for dictionaryOptions attribute are:
          1) Rebuild - DB2 will rebuild compression dictionary;
          2) Keep - DB2 will keep existing compression dictionary.

    2. The indixReorgMode attribute specifies Index Reorganization mode.
    The valid values for IndexReorgMode can be  either "Online" or "Offline"

    3.The useSystemTempTableSpace attribute specifies the use of system temporary tablespace with a ompatiable page size. The valid values can be "true" or "false". 

   </xsd:documentation>

</xsd:annotation>


<xsd:complexType name="reorgoptiontype" >

   <xsd:attribute name="useSystemTempTableSpace" 
                  type="usesystemtemptablespacetype" 
		  use="optional" 
		  default="false" />

   <xsd:attribute name="dictionaryOption" 
                  type="compressiondictionarytype" 
		  use="optional" 
		  default="Keep" />

   <xsd:attribute name="indexReorgMode" 
                  type="indexreorgtype" 
		  use="optional" 
		  default="Offline" />

   <xsd:attribute name="reclaimExtentsSizeForMDCTables" 
                  type="xsd:positiveInteger" 
		  use="optional"  />
					  
</xsd:complexType>


<xsd:simpleType name="usesystemtemptablespacetype">

     <xsd:restriction base="xsd:string">

         <xsd:enumeration value="true"/>

         <xsd:enumeration value="false" />

    </xsd:restriction>

</xsd:simpleType>     


<xsd:simpleType name="compressiondictionarytype">

     <xsd:restriction base="xsd:string">

         <xsd:enumeration value="Keep"/>

         <xsd:enumeration value="Rebuild" />

    </xsd:restriction>

</xsd:simpleType>     


<xsd:simpleType name="indexreorgtype">

    <xsd:restriction base="xsd:string">

         <xsd:enumeration value="Online"/>

         <xsd:enumeration value="Offline"/>

    </xsd:restriction>

</xsd:simpleType>


<xsd:annotation>

    <xsd:documentation>

    FilterClause element specifies which tables in the database to be included  for automatic reorganization.

    Which tables to exclude from the automatic reorganization are specified by using an expression similar to an SQL-style "where clause" in the FilterClause element .

    Empty FilterClause element specifies selection all the tables.
    
    The maxOfflineReorgTableSize attribute to specifies the size limit (in kilobytes.) . This attribute is used to restrict the size of tables to include in an automatic reorganization.

   </xsd:documentation>

</xsd:annotation>


<xsd:complexType name="reorgtablescopetype" >

    <xsd:sequence>

       <xsd:element name="FilterClause" 
                    type="filterclausetype" 
		    minOccurs="1"
		    maxOccurs="1" />

   </xsd:sequence>

    <xsd:attribute name="maxOfflineReorgTableSize" 
                   type="xsd:nonNegativeInteger" 
		   use="optional"  />

</xsd:complexType>

<xsd:complexType name="filterclausetype" 
                 mixed="true" />

</xsd:schema> 
