db2te/XSD/IBM/DB2AutoRunstatsPolicy.xsd

<xsd:schema  
xmlns="http://www.ibm.com/xmlns/prod/db2/autonomic/config"  
targetNamespace="http://www.ibm.com/xmlns/prod/db2/autonomic/config" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema"    
elementFormDefault="qualified">

<xsd:annotation>

    <xsd:documentation>

    IBM Corporation  version 1.0

    DO NOT EDIT THIS FILE.

    </xsd:documentation>

</xsd:annotation>


<xsd:element name="DB2AutoRunstatsPolicy" 
             type="runstatspolicytype"/>


<xsd:annotation>

    <xsd:documentation>

    Schema for Auto Runstats activity

    The data access optimization maintenance activity automatically analyzes the data in tables to allow for application to access the data as quickly as possible. 

    </xsd:documentation>

</xsd:annotation>


<xsd:complexType name="runstatspolicytype">

    <xsd:sequence>

      <xsd:element name="RunstatsTableScope" 
                   type="runstatstablescopetype"/>

    </xsd:sequence>

</xsd:complexType>


<xsd:annotation>

    <xsd:documentation>

     Statistics will be run for the list of tables from the result of the query
        "select * from SYSCAT.TABLES".

	If the "Filter Condition" value is empty means all the tables will be selected.
	The "Filter Condition" has some value, it will be added to the where clause part of the query.  

    </xsd:documentation>

</xsd:annotation>


<xsd:complexType name="runstatstablescopetype" >

  <xsd:sequence>

    <xsd:element name="FilterCondition" 
                 type="filtertype" 
		 minOccurs="1"
		 maxOccurs="1"/>

  </xsd:sequence>

</xsd:complexType>

<xsd:complexType name="filtertype"  
                 mixed="true" />

</xsd:schema>

