db2te/XSD/IBM/DB2AutoBackupPolicy.xsd

<xsd:schema  
xmlns="http://www.ibm.com/xmlns/prod/db2/autonomic/config"   
targetNamespace="http://www.ibm.com/xmlns/prod/db2/autonomic/config"  
xmlns:xsd="http://www.w3.org/2001/XMLSchema"  
xmlns:db2mc="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">


<xsd:annotation>

    <xsd:documentation>

    IBM Corporation  version 1.0
     
    DO NOT EDIT THIS FILE.

    </xsd:documentation>

</xsd:annotation>

<xsd:annotation>

    <xsd:documentation>

    Schema file for db2 Backup policy
	 
    This file controls the following aspects of db2 automatic backup:
    
    1) the backup options like media on to which backup will be stored and mode of backup; and  
    
    2) the frequency of automatic backups.

    </xsd:documentation>

</xsd:annotation>


<xsd:element name="DB2AutoBackupPolicy" db2mc:title="Auto Backup Policy" 
             type="backuppolicytype"/>

<xsd:complexType name="backuppolicytype" >

    <xsd:sequence>

        <xsd:element name="BackupOptions"
	             type="backupoptiontype" 
		     minOccurs="1" 
		     maxOccurs="1"/>

        <xsd:element name="BackupCriteria"
	             type="backupcrtype" 
		     minOccurs="1" 
		     maxOccurs="1"/>

    </xsd:sequence>

</xsd:complexType>

<xsd:complexType name="backupoptiontype">

    <xsd:sequence>

        <xsd:element name="BackupTarget" 
	             type="backuptargettype" 
		     minOccurs="1" 
		     maxOccurs="1"/>

    </xsd:sequence>

    <xsd:attribute name="mode" db2mc:title="Mode"
                   type="backupmodetype" 
		   use="optional" 
		   default="Online" />

</xsd:complexType>


<xsd:annotation>

    <xsd:documentation>

    Frequency of automatic backups 

    The following attributes control the frequency of backup :

    1. numberOfFullBackups ;
    2. timeSinceLastBackup ; and
    3. logSpaceConsumedSinceLastBackup.

    DB2 will perform backup if the condition specified by  any of  these attributes are met.
    
    Note: if the database has never been backed  up, backup will be performed at its first opportunity.

    </xsd:documentation>

</xsd:annotation>


<xsd:complexType name="backupcrtype">

    <xsd:attribute name="numberOfFullBackups" 
                   type="xsd:positiveInteger"
		   use="required"  />

    <xsd:attribute name="timeSinceLastBackup" db2mc:title="Time Since Last Backup (hours)" 
                   type="xsd:positiveInteger"
		   use="required"  />

    <xsd:attribute name="logSpaceConsumedSinceLastBackup" db2mc:title="Log Space Consumed Last Backup (4k)"
                   type="xsd:positiveInteger" 
		   use="required" />

</xsd:complexType>


<xsd:annotation>

    <xsd:documentation>

    The media on to which backup will be stored

    The following elements control the type of media on to which DB2 stores the  backup 
     
       1) DiskBackupTarget - backup to a file system;

       2) TapeBackupTarget - backup to tape;

       3) TSMBackupTarget - backup to Tivoli Storage Manager (TSM);

       4) XBSABackupTarget - use Backup Services APIs (XBSA); and

       5) VendorLibBackupTarget - backup to other vendor storage.

    Each of these elements has associated options:

       1) DiskBackupTarget - If the PathName element value is a valid location on the file system, DB2 will store the backup images there. Otherwise, DB2 will store the backup images in the default DB2 backup location.

       2) TapeBackupTarget - DB2 will store the backup images on the tape media at the location specified by the PathName element value. The PathName element value can not be empty.

       3) TSMBackupTarget - This numberOfSession element specifies the session number for the Tivoli Storage Manager (TSM).  Valid values for the numberOfSession element range from 1 to 999.  The default value is 1.
   

      4) XBSABackupTarget - The numberOfSession element specifies the session number for XBSA. Valid values for the numberOfSession element range from 1 to 999.  The default value is 1.

      5) VendorLibBackupTarget - The LibFileName element specifies the vendor library.  The LibOptions element specifies arguments to the library. The LibFileName value must be a fully qualified file name.

   </xsd:documentation>

</xsd:annotation>


<xsd:complexType name="backuptargettype">

    <xsd:choice>

        <xsd:element name="DiskBackupTarget" 
                     type="diskbackuptargettype"/>

        <xsd:element name="TapeBackupTarget" 
                     type="tapebackuptargettype"/>

        <xsd:element name="TSMBackupTarget" 
                     type="TSMbackuptargettype"/>

        <xsd:element name="XBSABackupTarget" 
                     type="XBSAbackuptargettype"/>

        <xsd:element name="VendorLibBackupTarget" 
                     type="vendorlibbackuptargettype"/>

     </xsd:choice>

 </xsd:complexType>

<xsd:complexType name="diskbackuptargettype">

    <xsd:sequence>

        <xsd:element name="PathName" 
	             type="pathwithemptystringtype" 
		     minOccurs="1" 
		     maxOccurs="1" />

    </xsd:sequence>

</xsd:complexType>

<xsd:complexType name="tapebackuptargettype">

    <xsd:sequence>

        <xsd:element name="PathName" 
	             type="pathnametype" 
		     minOccurs="1" 
		     maxOccurs="1" />  	

    </xsd:sequence>

</xsd:complexType>

<xsd:complexType name="TSMbackuptargettype">

    <xsd:attribute name="numberOfSessions" 
                   type="backupmediasessiontype" 
		   use="required" />

</xsd:complexType>

<xsd:complexType name="XBSAbackuptargettype">

    <xsd:attribute name="numberOfSessions" 
                   type="backupmediasessiontype" 
		   use="required" />

</xsd:complexType>

<xsd:complexType name="vendorlibbackuptargettype">

    <xsd:sequence minOccurs="1" maxOccurs="1">

        <xsd:element name="LibFilename" type="pathnametype"/>

        <xsd:element name="LibOptions" type="xsd:string"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="backupmediasessiontype">

    <xsd:restriction base="xsd:positiveInteger">

        <xsd:minInclusive value="1"/>

        <xsd:maxInclusive value="999"/>

    </xsd:restriction>

</xsd:simpleType>

<xsd:simpleType name="empty">

    <xsd:restriction base="xsd:string">

        <xsd:enumeration value=""/>

   </xsd:restriction>

</xsd:simpleType>

<xsd:simpleType name="pathnametype">

    <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
    </xsd:restriction>

</xsd:simpleType>
  
<xsd:simpleType name="pathwithemptystringtype">

    <xsd:union memberTypes="pathnametype empty" />

</xsd:simpleType>


<xsd:annotation>

    <xsd:documentation>

    The backup can be performed in one of the following mode:
       1) Online - Users can access the database during the backup. 
             An online backup will run during the online maintenance window.

       2) Offline - Users cannot access the database during the backup. 
              An offline backup will run during offline maintenance window.

    </xsd:documentation>

</xsd:annotation>


<xsd:simpleType name="backupmodetype">

    <xsd:restriction base="xsd:string">

        <xsd:enumeration value="Online"/>

        <xsd:enumeration value="Offline"/>

    </xsd:restriction>

</xsd:simpleType>

</xsd:schema>
