db2te/XSD/IBM/DB2MonRoutines.v97.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="DB2SchemaAnnotation.xsl"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.ibm.com/xmlns/prod/db2/mon"
           xmlns="http://www.ibm.com/xmlns/prod/db2/mon"
           elementFormDefault="qualified"  >

<xs:include schemaLocation="http://www.ibm.com/xmlns/prod/db2/mon" />


<xs:simpleType name = "threshold_yes_no_type" >
  <xs:annotation>
     <xs:documentation>
       Indicates whether a threshold was violated or queued.
       Valid values are 1 (YES) or 0 (NO).
     </xs:documentation>
  </xs:annotation>
   <xs:restriction base = "xs:short" >
      <xs:maxInclusive value = "1" />
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name = "threshold_value_type" >
  <xs:annotation>
     <xs:documentation>
       Threshold values are simple strings, as they may be
       numbers, or other types such as timestamps for some thresholds.
     </xs:documentation>
  </xs:annotation>
   <xs:restriction base = "xs:long" />
</xs:simpleType>



<xs:element name="db2_service_subclass" >
  <xs:annotation>
     <xs:documentation>
        ----------------------------------------------------------------------
        DB2 Service Subclass Schema
  
        This schema describes the structure of the service subclass metrics
        that are obtained by calling the 
        MON_GET_SERVICE_SUBCLASS_DETAILS table function.
        ----------------------------------------------------------------------
     </xs:documentation>
  </xs:annotation>
  <xs:complexType  >
    <xs:sequence >

       <xs:element name = "service_superclass_name"
                   type = "db_object_name_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element service_superclass_name for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "service_subclass_name"
                   type = "db_object_name_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element service_subclass_name for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "service_class_id" 
                   type = "db_object_id_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element service_class_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "member"
                   type = "member_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element member for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
 
       <xs:element name = "system_metrics"
                   type = "system_level_metrics" >
         <xs:annotation>
           <xs:documentation>
           The metrics for the service subclass.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
       
    </xs:sequence>
    
    <xs:attribute name = "release"
                  type = "xs:long"
                  use  = "required" > 
       <xs:annotation>
         <xs:documentation>
         Represents the DB2 product level this event was captured on.
         </xs:documentation>
       </xs:annotation>
    </xs:attribute>
  
    <xs:anyAttribute processContents="skip" />
  
  </xs:complexType>

</xs:element>


<xs:element name="db2_workload" >
  <xs:annotation>
     <xs:documentation>
        ----------------------------------------------------------------------
        DB2 Workload Schema
  
        This schema describes the structure of the workload metrics
        that are obtained by calling the 
        MON_GET_WORKLOAD_DETAILS table function.
        ----------------------------------------------------------------------
     </xs:documentation>
  </xs:annotation>
  <xs:complexType  >
    <xs:sequence >

       <xs:element name = "workload_name"
                   type = "db_object_name_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element workload_name for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "workload_id"
                   type = "db_object_id_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element workload_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "member"
                   type = "member_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element member for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "system_metrics"
                   type = "system_level_metrics" >
         <xs:annotation>
           <xs:documentation>
           The metrics for the workload.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
 
       <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
       
    </xs:sequence>
    
    <xs:attribute name = "release"
                  type = "xs:long"
                  use  = "required" > 
       <xs:annotation>
         <xs:documentation>
         Represents the DB2 product level this event was captured on.
         </xs:documentation>
       </xs:annotation>
    </xs:attribute>
  
    <xs:anyAttribute processContents="skip" />
  
  </xs:complexType>
</xs:element>


<xs:element name="db2_connection" >
  <xs:annotation>
     <xs:documentation>
        ----------------------------------------------------------------------
        DB2 Connection Schema
  
        This schema describes the structure of the connection metrics
        that are obtained by calling the 
        MON_GET_CONNECTION_DETAILS table function.
        ----------------------------------------------------------------------
     </xs:documentation>
  </xs:annotation>
  <xs:complexType  >
    <xs:sequence >

       <xs:element name = "application_handle"
                   type = "application_handle_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element agent_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "client_userid"
                   type = "tpmon_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element tpmon_client_userid for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "client_wrkstnname"
                   type = "tpmon_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element tpmon_client_wkstn for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "client_applname"
                   type = "tpmon_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element tpmon_client_app for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "client_acctng"
                   type = "tpmon_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element tpmon_acc_str for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "member"
                   type = "member_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element member for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "system_metrics"
                   type = "system_level_metrics" >
         <xs:annotation>
           <xs:documentation>
           The metrics for the connection.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
 
       <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
       
    </xs:sequence>
    
    <xs:attribute name = "release"
                  type = "xs:long"
                  use  = "required" > 
       <xs:annotation>
         <xs:documentation>
         Represents the DB2 product level this event was captured on.
         </xs:documentation>
       </xs:annotation>
    </xs:attribute>
  
    <xs:anyAttribute processContents="skip" />
  
  </xs:complexType>
</xs:element>


<xs:element name="db2_unit_of_work" >
  <xs:annotation>
     <xs:documentation>
        ----------------------------------------------------------------------
        DB2 Unit Of Work Metrics Schema
  
        This schema describes the structure of the unit of work metrics
        that are obtained by calling the 
        MON_GET_UNIT_OF_WORK_DETAILS table function.
        ----------------------------------------------------------------------
     </xs:documentation>
  </xs:annotation>
  <xs:complexType  >
    <xs:sequence >

       <xs:element name = "service_superclass_name"
                   type = "db_object_name_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element service_superclass_name for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "service_subclass_name"
                   type = "db_object_name_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element service_subclass_name for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "service_class_id" 
                   type = "db_object_id_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element service_class_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "workload_name"
                   type = "db_object_name_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element workload_name for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "member"
                   type = "member_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element member for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "coord_member"
                   type = "member_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element coord_member for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "application_handle"
                   type = "application_handle_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element agent_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "workload_occurrence_id"
                   type = "incrementing_id_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element workload_occurrence_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "uow_id"
                   type = "incrementing_id_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element uow_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "workload_occurrence_state"
                   type = "db2_string_type_32" >
         <xs:annotation>
           <xs:documentation>
           See monitor element workload_occurrence_state for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "client_userid"
                   type = "tpmon_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element tpmon_client_userid for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "client_wrkstnname"
                   type = "tpmon_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element tpmon_client_wkstn for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "client_applname"
                   type = "tpmon_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element tpmon_client_app for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "client_acctng"
                   type = "tpmon_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element tpmon_acc_str for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "system_metrics"
                   type = "system_level_metrics" >
         <xs:annotation>
           <xs:documentation>
           The metrics for the unit of work.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
       
    </xs:sequence>
    
    <xs:attribute name = "release"
                  type = "xs:long"
                  use  = "required" > 
       <xs:annotation>
         <xs:documentation>
         Represents the DB2 product level this event was captured on.
         </xs:documentation>
       </xs:annotation>
    </xs:attribute>
  
    <xs:anyAttribute processContents="skip" />
  
  </xs:complexType>
</xs:element>


<xs:element name="db2_activity_details" >
  <xs:annotation>
     <xs:documentation>
        ----------------------------------------------------------------------
        DB2 Activity Details and Metrics Schema
  
        This schema describes the structure of the activity
        details and metrics that are obtained by calling the 
        MON_GET_ACTIVITY_DETAILS table function.
        ----------------------------------------------------------------------
     </xs:documentation>
  </xs:annotation>
  <xs:complexType  >
    <xs:sequence >

       <xs:element name = "member"
                   type = "member_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element member for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       
       <xs:element name = "client_userid"
                   type = "tpmon_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element tpmon_client_userid for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "client_wrkstnname"
                   type = "tpmon_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element tpmon_client_wkstn for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "client_applname"
                   type = "tpmon_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element tpmon_client_app for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "client_acctng"
                   type = "tpmon_type"
                   minOccurs = "0" >
         <xs:annotation>
           <xs:documentation>
           See monitor element tpmon_acc_str for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "application_handle"
                   type = "application_handle_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element agent_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "coord_member"
                   type = "member_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element coord_member for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "uow_id"
                   type = "incrementing_id_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element uow_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "activity_id"
                   type = "incrementing_id_type" >
         <xs:annotation>
           <xs:documentation>
           See monitor element activity_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "parent_uow_id"
                   type = "incrementing_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element parent_uow_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "parent_activity_id"
                   type = "incrementing_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element parent_activity_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "activity_state"
                   type = "db2_string_type_32"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element activity_state for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "activity_type"
                   type = "db2_string_type_32"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element activity_type for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "nesting_level"
                   type = "xs:int"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element nesting_level for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "invocation_id"
                   type = "incrementing_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element invocation_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "routine_id"
                   type = "incrementing_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element routine_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "utility_id"
                   type = "incrementing_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element utility_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "service_class_id" 
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element service_class_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "database_work_action_set_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element database_work_action_set_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "database_work_class_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element database_work_class_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "service_class_work_action_set_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element service_class_work_action_set_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "service_class_work_class_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element service_class_work_class_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "entry_time"
                   type = "xs:dateTime"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element entry_time for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "local_start_time"
                   type = "xs:dateTime"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element local_start_time for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "last_reference_time"
                   type = "xs:dateTime"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element last_reference_time for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "package_name"
                   type = "db_object_name_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element package_name for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "package_schema"
                   type = "db_object_name_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element package_schema for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "package_version_id"
                   type = "db2_string_type_64"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element package_version_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "section_number"
                   type = "xs:short"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element section_number for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "stmt_pkg_cache_id"
                   type = "xs:long"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element stmt_pkg_cache_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "stmt_text"
                   type = "db2_statement_text_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element stmt_text for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "eff_stmt_text"
                   type = "db2_statement_text_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element eff_stmt_text for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "effective_isolation"
                   type = "db2_string_type_2"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element effective_isolation for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "effective_lock_timeout"
                   type = "xs:int"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element effective_lock_timeout for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "effective_query_degree"
                   type = "xs:int"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element effective_query_degree for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "query_cost_estimate"
                   type = "xs:long"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element query_cost_estimate for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "qp_query_id"
                   type = "incrementing_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element qp_query_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "executable_id"
                   type = "executable_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element executable_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_db_threshold_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_db_threshold_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_db_threshold_value"
                   type = "threshold_value_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_db_threshold_value for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_db_threshold_queued"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_db_threshold_queued for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_db_threshold_violated"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_db_threshold_violated for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_superclass_threshold_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_superclass_threshold_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_superclass_threshold_value"
                   type = "threshold_value_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_superclass_threshold_value for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_superclass_threshold_queued"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_superclass_threshold_queued for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_superclass_threshold_violated"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_superclass_threshold_violated for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_subclass_threshold_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_subclass_threshold_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_subclass_threshold_value"
                   type = "threshold_value_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_subclass_threshold_value for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_subclass_threshold_queued"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_subclass_threshold_queued for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_subclass_threshold_violated"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_subclass_threshold_violated for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_work_action_set_threshold_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element Xconcurrentdbcoordactivities_work_action_set_threshold_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_work_action_set_threshold_value"
                   type = "threshold_value_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_work_action_set_threshold_value for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_work_action_set_threshold_queued"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_work_action_set_threshold_queued for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentdbcoordactivities_work_action_set_threshold_violated"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentdbcoordactivities_work_action_set_threshold_violated for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "estimatedsqlcost_threshold_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element estimatedsqlcost_threshold_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "estimatedsqlcost_threshold_value"
                   type = "threshold_value_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element estimatedsqlcost_threshold_value for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "estimatedsqlcost_threshold_violated"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element estimatedsqlcost_threshold_violated for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "sqltempspace_threshold_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element sqltempspace_threshold_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "sqltempspace_threshold_value"
                   type = "threshold_value_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element sqltempspace_threshold_value for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "sqltempspace_threshold_violated"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element sqltempspace_threshold_violated for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "sqlrowsreturned_threshold_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element sqlrowsreturned_threshold_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "sqlrowsreturned_threshold_value"
                   type = "threshold_value_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element sqlrowsreturned_threshold_value for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "sqlrowsreturned_threshold_violated"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element sqlrowsreturned_threshold_violated for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "activitytotaltime_threshold_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element activitytotaltime_threshold_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "activitytotaltime_threshold_value"
                   type = "xs:dateTime"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element activitytotaltime_threshold_value for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "activitytotaltime_threshold_violated"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element activitytotaltime_threshold_violated for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "aggsqltempspace_threshold_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element aggsqltempspace_threshold_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "aggsqltempspace_threshold_value"
                   type = "threshold_value_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element aggsqltempspace_threshold_value for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "aggsqltempspace_threshold_violated"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element aggsqltempspace_threshold_violated for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentworkloadactivities_threshold_id"
                   type = "db_object_id_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentworkloadactivities_threshold_id for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
       
       <xs:element name = "concurrentworkloadactivities_threshold_value"
                   type = "threshold_value_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentworkloadactivities_threshold_value for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "concurrentworkloadactivities_threshold_violated"
                   type = "threshold_yes_no_type"
                   minOccurs = "0"  >
         <xs:annotation>
           <xs:documentation>
           See monitor element concurrentworkloadactivities_threshold_violated for more details.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name = "activity_metrics"
                   type = "activity_level_metrics" >
         <xs:annotation>
           <xs:documentation>
           The metrics for the activity.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
 
       <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
       
    </xs:sequence>
    
    <xs:attribute name = "release"
                  type = "xs:long"
                  use  = "required" > 
       <xs:annotation>
         <xs:documentation>
         Represents the DB2 product level this event was captured on.
         </xs:documentation>
       </xs:annotation>
    </xs:attribute>
  
    <xs:anyAttribute processContents="skip" />
  
  </xs:complexType>
</xs:element>

</xs:schema>

