db2te/XSD/IBM/DB2MaintenanceWindowPolicy.xsd

<xsd:schema  
xmlns="http://www.ibm.com/xmlns/prod/db2/autonomic/config"  
targetNamespace="http://www.ibm.com/xmlns/prod/db2/autonomic/config" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" >


<xsd:annotation>

    <xsd:documentation>

    IBM Corporation  version 1.0
    
    DO NOT EDIT THIS FILE. 

    </xsd:documentation>

</xsd:annotation>

<xsd:annotation>

    <xsd:documentation>

         DB2 Auto maintenance policy configuration
         Maintenance window configuration schema

        This schema describes the elements of DB2 that is used in Maintenance Window configuration.

    </xsd:documentation>

</xsd:annotation>


<xsd:element name="DB2MaintenanceWindows" 
             type="pwdtype"/>


<xsd:annotation>

    <xsd:documentation>

    There are two types of maintenance windows: offline and online.

    Online maintenance window specifies a period of low activity in the database  and offline window specifies a period in the database for the offline maintenance window.

    </xsd:documentation>

</xsd:annotation>


<xsd:group name="PoilcyWindowGroup">

  <xsd:sequence>

   <xsd:element name="OnlineWindow" 
                type="wtype" 
                minOccurs="1" 
		maxOccurs="1"/> 

   <xsd:element name="OfflineWindow" 
                type="wtype" 
                minOccurs="0" 
		maxOccurs="1"/>

   </xsd:sequence>

</xsd:group>

<xsd:complexType name="pwdtype">

   <xsd:group ref="PoilcyWindowGroup" 
              minOccurs="1" 
	      maxOccurs="1"/>

</xsd:complexType>


<xsd:annotation>

    <xsd:documentation>

    For each Window there are 3  attributes and  3 elements combined together logically to calculate the window frequency.

    The Attributes are 
    1.startTime
    This is the time of day, expressed in 24 hour format, that the maintenance window should start.  For example, the following would cause the maintenance window to start at 11:00pm: startTime="23:00:00"

    2.duration
    This is the length of time, expressed in hours that maintenance window should last.  For example, the following would cause maintenance window to last 3 hours: duration="3"

    3. occurrence
    This attribute specifies when automatic jobs will be run
        - during the specified window time.(During); or
        - any time apart from specified window time.(Outside)
    The valid values for occurrence attributes are "Outside" or "During".

    The elements are :

    1.DaysOfMonth values can range from 1 to 31 or from -1 to -31. Values in the range from 1 to 31 represent days of month. Values in the range from -1 to -31 are counting backwards from end of month. For example, -1 represent last day of month and -4 represent 4th last day of month.

    2. DaysOfWeek values are expected to be abbreviated: Mon,Tue,Wed,Thu,Fri,Sat,Sun.

    3. MonthsOfYear values are expected to be abbreviated: Jan,Feb,Mar,Apr,May,Jun,Jul,Aug, Sep,Oct,Nov,Dec.

    </xsd:documentation>

</xsd:annotation>


<xsd:complexType name="wtype">

    <xsd:sequence minOccurs="1" maxOccurs="1">

        <xsd:element name="DaysOfWeek" 
	             type="dayofweektype"/>

        <xsd:element name="DaysOfMonth" 
	             type="dtype"/>

        <xsd:element name="MonthsOfYear" 
	             type="mtype"/>

    </xsd:sequence>

    <xsd:attribute name="Occurrence" 
                   type="occurtype" 
		   use="optional" 
		   default="Outside"/>

    <xsd:attribute name="startTime" 
                   type="xsd:time" 
		   use="optional" 
		   default="00:00:00"/>

    <xsd:attribute name="duration" 
                   type="durtype" 
		   use="optional" 
		   default="24"/>

</xsd:complexType>

<xsd:simpleType name="durtype">

    <xsd:restriction base="xsd:positiveInteger">

        <xsd:minInclusive value="1" />

        <xsd:maxInclusive value="24" />

    </xsd:restriction>

</xsd:simpleType>

<xsd:simpleType name="alltype">

     <xsd:restriction base="xsd:string">

         <xsd:pattern value="All{1}"/>

     </xsd:restriction>

</xsd:simpleType>

<xsd:simpleType name="monthname">

    <xsd:restriction base="xsd:string">

        <xsd:enumeration value="Jan" />

        <xsd:enumeration value="Feb" />

        <xsd:enumeration value="Mar" />

        <xsd:enumeration value="Apr" />

        <xsd:enumeration value="May" />

        <xsd:enumeration value="Jun" />

        <xsd:enumeration value="Jul" />

        <xsd:enumeration value="Aug" />

        <xsd:enumeration value="Sep" />

        <xsd:enumeration value="Oct" />

        <xsd:enumeration value="Nov" />

        <xsd:enumeration value="Dec" />

    </xsd:restriction>

 </xsd:simpleType>

<xsd:simpleType name="monthlist">

    <xsd:list itemType="monthname" />

</xsd:simpleType>

<xsd:simpleType name="mtype">

    <xsd:union memberTypes="monthlist alltype"/>

</xsd:simpleType>

<xsd:simpleType name="nodays">

    <xsd:restriction base="xsd:NMTOKEN">

        <xsd:pattern value="1{1}|2{1}|3{1}|4{1}|5{1}|6{1}|7{1}|
        8{1}|9{1}|10{1}|11{1}|12{1}|13{1}|14{1}|15{1}|16{1}|17{1}|
        18{1}|19{1}|20{1}|21{1}|22{1}|23{1}|24{1}|25{1}|26{1}|27{1}
        |28{1}|29{1}|30{1}|31{1}|-31{1}|-30{1}|-29{1}|-28{1}|-27{1}|-26{1}
        |-25{1}|-24{1}|-23{1}|-22{1}|-21{1}|-20{1}|-19{1}|-18{1}|-17{1}|-16{1}
        |-15{1}|-14{1}|-13{1}|-12{1}|-11{1}|-10{1}|-9{1}|-8{1}|-7{1}|-6{1}
        |-5{1}|-4{1}|-3{1}|-2{1}|-1{1}"/>

    </xsd:restriction>

 </xsd:simpleType>

<xsd:simpleType name="daylist">

    <xsd:list itemType="nodays" />

</xsd:simpleType>

<xsd:simpleType name="dtype">

    <xsd:union memberTypes="daylist alltype"/>

</xsd:simpleType>

<xsd:simpleType name="dayofweeknamestype">

    <xsd:restriction base="xsd:string">

        <xsd:enumeration value="Mon" />

        <xsd:enumeration value="Tue" />

        <xsd:enumeration value="Wed" />

        <xsd:enumeration value="Thu" />

        <xsd:enumeration value="Fri" />

        <xsd:enumeration value="Sat" />

        <xsd:enumeration value="Sun" />

     </xsd:restriction>

 </xsd:simpleType>

<xsd:simpleType name="dayofweeklist">

    <xsd:list itemType="dayofweeknamestype" />

</xsd:simpleType>

<xsd:simpleType name="dayofweektype">

    <xsd:union memberTypes="dayofweeklist alltype"/>

</xsd:simpleType>

<xsd:simpleType name="occurtype">

    <xsd:restriction base="xsd:string">

        <xsd:enumeration value="During" />

        <xsd:enumeration value="Outside" />

    </xsd:restriction>

</xsd:simpleType>

</xsd:schema>
